* {
    margin: 0;
    padding: 0;
    /* border: dashed hotpink; */
    border: none;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
}

#main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.5% 0px;
}

h1 {
    background-color: purple;
    width: 80vw;
    height: 85px;
    text-align: center;
    font-size: 64px;
}

#choices {
    display: flex;
    gap: 20px;
    padding: 150px;
    border: solid purple;
    width: 80vw;
    justify-content: center;
}

#choices button {
    background-color: gray;
    color: white;
    padding: 10px;
    width: 75px;
    height: 75px;
    border: solid black;
    border-radius: 10px;
    cursor: pointer;
}

#scoreboard {
    display: flex;
    gap: 50px;
}

#reset {
    display: flex;
    padding: 10vw;
}

#reset button {
    background-color: gray;
    color: white;
    border: solid black;
    border-radius: 10px;
    width: 50px;
    height: 35px;
    cursor: pointer;
    align-items: center;
    text-align: center;
}